footer{
    background-color: $bg-color;
    height: fit-content;
    font-size: 1rem;

    a{
        font-weight: bold;
    }

    i{
        margin: 0 .5rem;
    }

    .social-icons{
        font-size: 2rem;
    
        span{
            margin: 0 .5rem;
        }
    }

    small{
        font-size: 1.14rem;
    }

    .scrolltop{
        display: inline-block;
        height: 40px;
        width: 40px;
        bottom:19px;
        right: 10px;
        position: fixed;
        margin: 1rem;
        border-radius: 50%;
        cursor: pointer;
        vertical-align: middle;
        background-color: #298eff;
        opacity: .5;
        transition: all .5s ease-out;
    }

    .scrolltop:hover{
        opacity: 1;
    }

}

