.navbar-nav{
    a.active {
        color: #fff !important;
    }

    a{
        font-size: .9rem;
        padding: .4rem .6rem !important; 
    }
    
    a:hover{
        color: rgba(255, 255, 255, 0.8) !important;
    }
}