// Google font
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
}

#root{
    min-width: 381px;
}

body{
    background-color: #f8f9fb;
    min-height: 100vh;
}

main{
    color: $text-color;
    //position: relative;
}

h1,h2,h3,h4,h5{
    font-weight: 600;
    color: $title-color;
}

a{
    text-decoration: none;
    color: $text-color;
}

strong{
    font-weight: 600;
    color: black;
}

ul{
    list-style: none;
    padding: 0;
}

/* Utilities */

.section-title{
    span{
        height: 5px;
        max-width: 15%;
        display: block;
        margin: 0 auto;
        background-color: $blue-color;
        margin-top: 1rem;
        margin-bottom: 3rem;
    }

    h5{
        font-weight: bolder;
        font-size: 1.5rem;
    }
}