@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
}

body {
  background-color: #eee;
}

h1, h2, h3, h4, strong {
  font-weight: 600;
}

ul {
  list-style: none;
  padding: 0;
}

/* HOME MOBILE VERSION */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .hero-banner {
    background: rgba(0, 0, 0, 0.3);
    background-image: url("../../assets/images/hero-bg-mobile.jpg");
    background-size: 210%;
    background-position: 50% 75%;
    background-repeat: no-repeat;
    width: 100%;
    height: 90vh;
  }
  .hero-banner .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  .hero-banner h1 {
    font-size: 2.2rem;
    color: white;
  }
  .hero-banner h2 {
    font-size: 1rem;
    color: white;
    margin: 1rem 1rem;
  }
  .hero-banner a {
    font-size: 0.8rem;
    padding: 0.4rem 0.1rem;
    margin-top: 0.5rem;
  }
  .about {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .about .about-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2.5rem 0;
    height: fit-content;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .about .about-container .about-content {
    width: 100%;
    padding: 2rem;
  }
  .about .about-container .about-content h3 {
    width: 100%;
    border-bottom: 2px solid #0d6efd;
    padding: 0.5rem 0;
  }
  .about .about-container .about-content article {
    margin-top: 2em;
    font-size: 1.2rem;
  }
  .about .about-container .skills {
    width: 100%;
    padding: 2rem;
  }
  .about .about-container .skills img {
    width: 100%;
    border-radius: 5px;
  }
  .about .about-container .skills h4 {
    margin-top: 0.5rem;
  }
  .about .about-container .skills p {
    margin-bottom: 0;
    padding: 0.5rem 0;
  }
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .hero-banner {
    background: rgba(0, 0, 0, 0.3);
    background-image: url("../../assets/images/hero-bg-tablette.jpg");
    background-size: cover;
    background-position: 50% 75%;
    width: 100%;
    height: 115vh;
  }
  .hero-banner .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  .hero-banner h1 {
    font-size: 4rem;
  }
  .hero-banner h1, .hero-banner h2 {
    margin-bottom: 1rem;
    color: white;
  }
  .about {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .about .about-container {
    display: flex;
    flex-direction: row;
    width: 95%;
    margin: 2rem;
    height: fit-content;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .about .about-container .about-content {
    width: 50%;
    padding: 1rem;
  }
  .about .about-container .about-content h3 {
    width: 100%;
    padding: 0.5rem 0;
    border-bottom: 2px solid #0d6efd;
  }
  .about .about-container .about-content article {
    margin-top: 2em;
    font-size: 0.9rem;
  }
  .about .about-container .skills {
    width: 50%;
    padding: 1rem;
  }
  .about .about-container .skills img {
    width: 100%;
    border-radius: 5px;
  }
  .about .about-container .skills h4 {
    margin-top: 0.5rem;
  }
  .about .about-container .skills p {
    margin-bottom: 0;
    padding: 0.5rem 0;
    font-size: 0.8rem;
  }
  .about .about-container .skills .progress {
    height: 10px;
  }
}
/* HOME DESKTOP VERSION */
@media screen and (min-width: 1024px) {
  .hero-banner {
    background: rgba(0, 0, 0, 0.3);
    background-image: url("../../assets/images/hero-bg.jpg");
    background-size: cover;
    width: 100%;
    height: 115vh;
  }
  .hero-banner .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .hero-banner h1 {
    font-size: 4rem;
  }
  .hero-banner h1, .hero-banner h2 {
    margin-bottom: 1rem;
    color: white;
  }
  .about {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .about .about-container {
    display: flex;
    flex-direction: row;
    width: 95%;
    margin: 2rem;
    height: fit-content;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .about .about-container .about-content {
    width: 50%;
    padding: 2rem;
  }
  .about .about-container .about-content h3 {
    width: 100%;
    padding: 0.5rem 0;
    border-bottom: 2px solid #0d6efd;
  }
  .about .about-container .about-content article {
    margin-top: 2em;
    font-size: 1.2rem;
  }
  .about .about-container .skills {
    width: 50%;
    padding: 2rem;
  }
  .about .about-container .skills img {
    width: 100%;
    border-radius: 5px;
  }
  .about .about-container .skills h4 {
    margin-top: 0.5rem;
  }
  .about .about-container .skills p {
    margin-bottom: 0;
    padding: 0.5rem 0;
  }
}
.navbar-nav a.active {
  color: #fff !important;
}
.navbar-nav a {
  font-size: 0.9rem;
  padding: 0.4rem 0.6rem !important;
}